<div class="container-nav">
	<nav class="navbar navbar-dark bg-dark rounded">
		<%= link_to 'Home', root_path, class: 'btn btn-info' %>
		<%= link_to 'Users', users_path, class: 'btn btn-info' %>
	</nav>
</div>